<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA44Khjif3P3MFe8gKphFs3n6XYPuTqQJE</string>
	<key>BUNDLE_ID</key>
	<string>org.cs125software.--PRODUCT-NAME-rfc1034identifier-</string>
	<key>GCM_SENDER_ID</key>
	<string>869872512942</string>
	<key>GOOGLE_APP_ID</key>
	<string>1:869872512942:ios:9c95bdcb7856740535e23f</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<false/>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>PROJECT_ID</key>
	<string>aquazenith-1f075</string>
	<key>STORAGE_BUCKET</key>
	<string>aquazenith-1f075.appspot.com</string>
</dict>
</plist>
